{% extends "base.html" %}
{% block content %}

<!-- my_recipes.html content starts here -->
 <nav class="users_recipes">
    <a href="#">My Favourites</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                {% if recipe.approval_status or recipe.author == user %}
                <div class="col-md-4">
                    <div class="card mb-4 {% if not recipe.approval_status and recipe.author == user %} pending-recipes {% endif %}">
                        <div class="card-body">
                            <div class="image-container">
                            </div>
                            <a href="{% url 'recipes_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p>Author: {{ recipe.author }}</p>
                            </a>
                            <hr />
                            {% if not recipe.approval_status and recipe.author == user %}
                            <p style="color: white"> This recipe is awaiting approval.</p>
                            {% endif %}
                            <p class="card-text text-muted h6">Cuisine: {{ recipe.get_cuisine_display }}
                            </p>
                            <hr />
                            <p class="card-text text-muted h6">{{recipe.created_on}}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %} 
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}

    <nav aria-label="Page navigation">
        <span class="page-counter justify-content-center">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            <hr />
        </ul>
    </nav>
    {% endif %}
</div>

<!-- my_recipes.html content ends here -->
{% endblock %}
