<!-- Template taken from the Code Institute, Codestar repository -->

{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>
                <p class="post-content">{{ recipe.excerpt | safe }}<p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/veggies.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% if recipe.author == user %}
    <div class="recipe-mod-btns">
        <button class="btn btn-delete">Delete Recipe</button>
        <a href="{% url 'recipe_edit' slug=recipe.slug %}" class="btn btn-edit">Edit Recipe</a>
    </div>
    {% endif %}  
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ recipe.ingredients | safe }}
                </p><br>
                <p class="card-text">
                    {{ recipe.instructions | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete recipe?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your recipe?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <!-- When clicking Delete on the modal, the user gets redirected to the recipes page,
         where a confirmation message appears that the recipe was successfully deleted. -->  
        <a id="deleteConfirm" href="{% url 'delete_recipe' recipe.slug %}" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/delete_recipe.js' %}"></script>
{% endblock %}