<!-- Template taken from Code Institute walktrhough Codestar project -->
 
{% extends "base.html" %}
{% url 'recipe_form' as recipe_form_url %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                
                            </div>
                            <a href="{% url 'recipes_detail' recipe.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p>Author: {{ recipe.author }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">Cuisine: {{ recipe.get_cuisine_display }}
                            </p>
                            <hr />
                            <p class="card-text text-muted h6">{{recipe.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    
    <nav aria-label="Page navigation">
        <span class="page-counter justify-content-center">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            <hr />
        </ul>
    </nav>
    {% endif %}
    <div class="create-recipe-question">
    <h2>Fancy in creating your own?</h2>
    <p><a href="{% url 'recipe_form' %}">Click here</a> to add yours.</p>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}