/* style.css file taken from the Code Institute Codestar project */

body {
    background-color: #cbc2a3;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #cbc2a3;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* style rule for page counter if page is paginated */
.page-counter {
    display: flex;
}

/* style rule for add your own recipe question */
.create-recipe-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style rule for recipes pending to be approved */
.pending-recipes {
    background-color: rgba(118, 118, 118, 0.883);
}

/* style rule for my recipes and my favourites navbar */
nav.users_recipes{
    display: flex;
    justify-content: space-evenly;
}

/* sets navigation pages to the far right of the screen when not collapsed */
.navigation-pages {
    justify-content: flex-end;
}

/* style rule for quote under page title */
.name-quote > p {
    font-size: 75%;
}

/* style rule for logged in user display */
.logged-in-user {
    font-size: 70%;
    text-decoration: underline;
}

/* style rule for social media links */
.sm-links > a {
    font-size: x-large;
    color: black;
}


/* media query for 768px screens and larger */
@media screen and (min-width:768px){
    /* style rules for navbar */
    .name-quote > p {
        font-size: 80%;
    }

    .logged-in-user {
        font-size: 90%;
        text-decoration: underline;
    }
}

/* media query for 1024px screens and larger */
@media screen and (min-width:1024px){
    /* style rules for navbar */
    .navbar > .container-fluid{
        align-items: normal;
    }
}

/* media query for 1440px screens and larger */
@media screen and (min-width:1440px){
    /* style rules for navbar */
    .navbar > .container-fluid{
        margin-left: 25%;
        margin-right: 25%;
    }

    .name-quote > p {
        font-size: 100%;
    }

    .logged-in-user {
        font-size: 110%;
        text-decoration: underline;
    }
}
