:root {
    --primary-color: #FF6347; /* Tomato Red */
    --accent-color: #FFD700; /* Bright Yellow */
    --background-color: #FFF5E1; /* Creamy White */
    --text-color: #333333; /* Dark Grey */
    --highlight-color: #FFB6C1; /* Soft Pink */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color) !important;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: white !important;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: var(--accent-color) !important;
}

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: var(--primary-color);
    font-weight: bold;
    padding-top: .5rem;
    font-size: medium;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--accent-color);
}

.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.sm-links > a {
    font-size: xx-large;
    color: var(--accent-color) !important;
    transition: color 0.3s ease-in-out;
}

.sm-links > a:hover {
    color: white !important;
}

.bg-overlay {
    background: linear-gradient(135deg, rgba(255,99,71,0.9), rgba(255,215,0,0.9));
    padding: 2rem;
    color: white;
    border-radius: 10px;
}

/* Rule for recipes buttons */
.recipe_btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Responsive Design */
@media screen and (min-width:768px) {
    .navbar > .container-fluid {
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .navbar-brand {
        font-size: 2.5rem;
    }
    
    .card-title {
        font-size: large;
    }
}

@media screen and (min-width:1440px) {
    .navbar > .container-fluid {
        margin-left: 10%;
        margin-right: 10%;
    }
}
